{% extends 'base.html.twig' %}

{% if is_granted('ROLE_SUPERADMIN') %}
    {% set pathToAddItem = 'superadmin_shopping_additem' %}
    {% set pathToDropCart = path('superadmin_shopping_dropcart') %}
    {% set pathToEditItem = 'superadmin_shopping_edititem' %}
    {% set pathToRemoveItem = 'superadmin_shopping_removeitem' %}
    {# {% set pathToNewRequirement = path('superadmin_requirement_new') %} #}
{% else %}
    {% if is_granted('ROLE_SALES') %}
        {% set pathToAddItem = 'admin_shopping_additem' %}
        {% set pathToDropCart = path('admin_shopping_dropcart') %}
        {% set pathToEditItem = 'admin_shopping_edititem' %}
        {% set pathToRemoveItem = 'admin_shopping_removeitem' %}
        {# {% set pathToNewRequirement = path('admin_requirement_new') %} #}
    {% elseif is_granted('ROLE_USER') %}
        {% set pathToAddItem = 'client_shopping_additem' %}
        {% set pathToDropCart = path('admin_shopping_dropcart') %}
        {% set pathToEditItem = 'client_shopping_edititem' %}
        {% set pathToRemoveItem = 'client_shopping_removeitem' %}
        {# {% set pathToNewRequirement = path('client_requirement_new') %} #}
    {% endif %}
{% endif %}

{% block title %}Shopping{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Lista de productos</h1>
    <br>
    <div class="row">
        <div class="form-group">
            <label for="company">Empresas:</label>
            <select name="company" id="company">
            {% for company in companies %}
                <option id="{{company.id}}">{{company.name}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <label for="product">Productos:</label>
        <select name="product" id="product">
            {% for product in products %}
            <option id="{{path(pathToAddItem, {'uid': product.uid})}}">{{product.name}}</option>  
            {% endfor %}
        </select>
    </div>
    {% if items is not empty %}
        {% for item in items %}    
        <div class="thumbnail item_tienda ">
            <img src="img/default_store.png" alt="...">
            <div class="caption">
                <h4 class="divisor">{{ items.name }}</h4>
                <p>{{ item.description }}</p>
                <p>Cantidad: <b>{{ item.quantity }}</b></p>
                <a href="{{path(pathToEditItem, {'itemId' : item.id})}}" class="btn btn-sm btn-warning"><i class="fa fa-fw fa-pencil"></i></a>
                <a href="{{path(pathToRemoveItem, {'itemId' : item.id})}}" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        {% endfor %}
    <div class="row">
        <a class="btn btn-info" href="{{ pathToNewRequirement }}">{{ button_label|default('Realizar compra') }}</a>
        <a class="btn btn-daner" href="{{ pathToDropCart }}">{{ button_label|default('Vaciar carrito') }}</a>
    </div>
    {% else %}
        <h1>Todavia no tenés items agregados!</h1>
    {% endif %}
    
</div>

<script>
    $("#product").change(function() {
        var link = $(this).children(":selected").attr("id");
        window.location.replace(link);
    });
</script>
{% endblock %}
