{% extends 'base.html.twig' %}
{# /superadmin #}
{# /admin #}
{% block title %}Solicitudes{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
        </div>
    {% endfor %} {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
        </div>
    {% endfor %}
    <h1>Lista de pedidos</h1>

    {% if is_granted('ROLE_SUPERADMIN') %}
        <a class="btn btn-success" href="{{ path('superadmin_shopping') }}">Crear nuevo pedido</a>
    {% elseif is_granted('ROLE_SALES') %}
        <a class="btn btn-success" href="{{ path('admin_shopping') }}">Crear nuevo pedido</a>
    {% elseif is_granted('ROLE_USER') %}
        <a class="btn btn-success" href="{{ path('client_shopping') }}">Crear nuevo pedido</a>
    {% endif %}
    
 
    <table class="table">
        <tr>
            <th>Cliente</th>
            <th>Solicitud ID</th>
            <th>Precio final</th>
            <th>Fecha de pedido</th>
            <th>Estado</th>
            <th>Operaciones</th>
        </tr>
        {% for requirement in requirements %}
        <tr>
            <td>{{ requirement.company.name }}</td>
            <td><a href="{{ path('superadmin_requirement_show', {'reqId' : requirement.requirementNumber }) }}">RQ{{ requirement.id }}</a></td>
            <td>{{ requirement.finalCost }}</td>
            <td>{{ requirement.creationDate|date('d-m-Y') }}</td>
            <td>
                {% if requirement.status == 'To be approved' %}
                Falta aprobación de administrador
                {% elseif requirement.status == 'To do' %}
                Aprobado para comenzar
                {% elseif requirement.status == 'In progress' %}
                En proceso
                {% elseif requirement.status == 'Finished' %}
                Finalizada sin entregar
                {% elseif requirement.status == 'Delivered' %}
                Entregada
                {% endif %}
            </td>
            <td>
                {% if is_granted('ROLE_SUPERADMIN') %}
                    {% if requirement.status == 'To be approved' %}
                        <a class="btn btn-success" href="{{ path('superadmin_requirement_approve', {'reqId': requirement.requirementNumber }) }}">Aprobar</a>
                        <a class="btn btn-warning" href="{{ path('superadmin_requirement_edit', {'reqId': requirement.requirementNumber }) }}">Editar</a>
                    {% elseif requirement.status == 'To do' %}
                        <a class="btn btn-success" href="{{ path('superadmin_requirement_inprogress', {'reqId': requirement.requirementNumber }) }}">Comenzar</a>
                    {% elseif requirement.status == 'In progress' %}
                        <a class="btn btn-success" href="{{ path('superadmin_requirement_finished', {'reqId': requirement.requirementNumber }) }}">Terminar</a>
                    {% elseif requirement.status == 'Finished' %}
                        <a class="btn btn-success" href="{{ path('superadmin_requirement_delivered', {'reqId': requirement.requirementNumber }) }}">Entregar</a>
                    {% endif %}
                    <a class="btn btn-danger" href="{{ path('superadmin_requirement_delete', {'reqId': requirement.requirementNumber }) }}">Eliminar</a>
                {% elseif is_granted('ROLE_LOGISTIC') %}
                    {% if requirement.status == 'To do' %}
                        <a class="btn btn-success" href="{{ path('admin_requirement_inprogress', {'reqId': requirement.requirementNumber }) }}">Comenzar</a>
                    {% elseif requirement.status == 'In progress' %}
                        <a class="btn btn-success" href="{{ path('admin_requirement_finished', {'reqId': requirement.requirementNumber }) }}">Terminar</a>
                    {% elseif requirement.status == 'Finished' %}
                        <a class="btn btn-success" href="{{ path('admin_requirement_delivered', {'reqId': requirement.requirementNumber }) }}">Entregar</a>
                    {% endif %}
                {% elseif is_granted('ROLE_SALES') %}
                    {% if requirement.status == 'To be approved' %}
                        <a class="btn btn-warning" href="{{ path('admin_requirement_edit', {'reqId': requirement.requirementNumber }) }}">Editar</a>
                        <a class="btn btn-danger" href="{{ path('admin_requirement_delete', {'reqId': requirement.requirementNumber }) }}">Eliminar</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}
