{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}

    <table class="table">
        <tr>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Operaciones</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.role }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('superadmin_user_edit', {'userId': user.id }) }}">Editar</a>
                <a class="btn btn-delete" href="{{ path('superadmin_user_delete', {'userId': user.id }) }}">Eliminar</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
