{% extends 'base.html.twig' %}
{# http://tienda.asothella/superadmin/user/edit/1 #}
{% block title %}Nuevo usuario{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Agregar usuario
        </h1>
    </div>
</div>
<ol class="breadcrumb">
    <li>Tablero</li>
        <li>usuario</li>
        <li class="active">Agregar</li>
</ol>

    
    <div class="row">
        {{ form_start(form, { 'attr' : { 'class':'form-horizontal' }}) }}
            <div class="form-group">
                <label class="col-xs-2 control-label">Nombre</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.firstName, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Apellido</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.lastName, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Email</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.email, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Telefono</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.phone, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Nombre Usuario</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.username, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Rol</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.role, { 'attr' : { 'class':'form-control' }}) }}
                </div>
            </div>
        {% if edit is defined %}
            <div class="form-group">
                <label class="col-xs-2 control-label">Contrase単a</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.plainPassword.first, { 'attr' : { 'value' : '****'} }) }}
                        <p class="help-block">Ingrese de nuevo su contrase単a.</p>
                        {{ form_widget(form.plainPassword.second, { 'attr' : { 'value' : '****'} }) }}
                </div>
            </div>
        {% else %}
        <div class="form-group">
                <label class="col-xs-2 control-label">Contrase単a</label>
                <div class="col-xs-10 col-sm-7">
                        {{ form_widget(form.plainPassword.first) }}
                        <p class="help-block">Ingrese de nuevo su contrase単a.</p>
                        {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
        {% endif %}
        {{ form_end(form) }}
        
    </div>

{% endblock %}
