{% extends 'base.html.twig' %}
{# http://tienda.asothella/superadmin/user/edit/1 #}
{% block title %}Nuevo usuario{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(form) }}
    <label for="">Nombre:</label>{{ form_widget(form.firstName) }}
    <label for="">Apellido:</label>{{ form_widget(form.lastName) }}
    <label for="">email:</label>{{ form_widget(form.email, {'attr' : {'readonly' : 'readonly'} }) }}
    <label for="">Telefono:</label>{{ form_widget(form.phone) }}
    <label for="">Nombre de usuario</label>{{ form_widget(form.username) }}
    <label for="">Rol:</label>{{ form_widget(form.role) }}
    {% if edit is defined %}
        {{ form_widget(form.plainPassword.first, { 'attr' : { 'value' : '****'} }) }}
        {{ form_widget(form.plainPassword.second, { 'attr' : { 'value' : '****'} }) }}
    {% else %}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}
    {% endif %}
    
    {{ form_end(form) }}
</div>
{% endblock %}
