{% extends 'base.html.twig' %}

{% block title %}Shopping{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Lista de productos</h1>
    {% if is_granted('ROLE_SUPERADMIN') %}
    <a class="btn btn-info" href="{{ path('superadmin_shopping_viewcart') }}">Ver carro</a>
    {% else %}
    <a class="btn btn-info" href="{{ path('admin_shopping_viewcart') }}">Ver carro</a>
    {% endif %}

    <div class="row">
        {% for product in products %}
        <div class="col-sm-10 col-xs-12">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ product.name}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ product.description }}</p>
                    IMAGEN<img src="" alt="">
                </div>
                {% if is_granted('ROLE_SUPERADMIN') %}
                <div class="panel-footer">
                    <a type="button" href="{{ path('superadmin_shopping_additem', {'itemId': product.uid }) }}" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="bottom" title="Agregar">
                        <i class="fa fa-fw fa-plus"></i>
                    </a>
                </div>
                {% else %}
                <div class="panel-footer">
                    <a type="button" href="{{ path('admin_shopping_additem', {'itemId': product.uid }) }}" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="bottom" title="Agregar">
                        <i class="fa fa-fw fa-cross"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
 
</div>
{% endblock %}
