{% extends 'base.html.twig' %}

{% block title %} Ver items {% endblock %}

{% block body %}

<div class="container">
    <h1>Carrito de compras</h1>
    {% if is_granted('ROLE_SUPERADMIN') %}
    <a href="{{ path('superadmin_shopping') }}" class="btn btn-info">Seguir comprando</a>
    <a href="{{ path('superadmin_shopping_dropcart') }}" class="btn btn-danger">Vaciar carrito</a>
    {% else %}
    <a href="{{ path('admin_shopping') }}" class="btn btn-info">Seguir comprando</a>
    <a href="{{ path('admin_shopping_dropcart') }}" class="btn btn-danger">Vaciar carrito</a>
    {% endif %}
    <br>
    <div class="row">
        {% set totalPrice = 0 %}
        {% for key, productReq in cartProducts %}
            <div class="col-sm-10 col-xs-12">
                <div class="panel panel-success ">
                    <div class="panel-heading">
                        <p>
                            <h3 class="panel-title">Solicitud: {{ productReq.product.name}}</h3>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p>Descripción: <strong>{{ productReq.product.description }}</strong></p>
                        <p>Color: <strong>{{ productReq.colour }}</strong></p>
                        <p>Cantidad: <strong>{{ productReq.quantity }}</strong></p>
                        <p>Precio final: <strong>{{ productReq.cost }}</strong></p>
                    </div>
                    <div class="panel-footer">
                        {% if is_granted('ROLE_SUPERADMIN') %}
                        <a type="button" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="bottom" title="Modificar" href="{{ path('superadmin_shopping_edititem', {'itemId': key })}}">
                            <i class="fa fa-fw fa-pencil"></i>
                        </a>
                        <a type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="bottom" title="Quitar del carrito" href="{{ path('superadmin_shopping_removeitem', {'itemId': key })}}">
                            <i class="fa fa-fw fa-remove"></i>
                        </a>
                        {% else %}
                        <a type="button" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="bottom" title="Modificar" href="{{ path('admin_shopping_edititem', {'itemId': key })}}">
                                <i class="fa fa-fw fa-pencil"></i>
                            </a>
                            <a type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="bottom" title="Quitar del carrito" href="{{ path('admin_shopping_removeitem', {'itemId': key })}}">
                                <i class="fa fa-fw fa-remove"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set totalPrice = totalPrice + productReq.cost %}
        {% endfor %}
        <div class="row">
            <div class="info">Costo total: ${{ totalPrice }}</div>
        </div>
        
    </div>
</div>
        
{% endblock %}
