{% extends 'base.html.twig' %}

{% if is_granted('ROLE_SUPERADMIN') %}
    {% set pathToShopping = path('superadmin_shopping') %}
    {% set pathToDropCart = path('superadmin_shopping_dropcart') %}
    {% set pathToEditItem = 'superadmin_shopping_edititem' %}
    {% set pathToRemoveItem = 'superadmin_shopping_removeitem' %}
{% else %}
    {% if is_granted('ROLE_SALES') %}
        {% set pathToShopping = path('admin_shopping') %}
        {% set pathToDropCart = path('admin_shopping_dropcart') %}
        {% set pathToEditItem = 'admin_shopping_edititem' %}
        {% set pathToRemoveItem = 'admin_shopping_removeitem' %}
    {% elseif is_granted('ROLE_USER') %}
        {% set pathToShopping = path('client_shopping') %}
        {% set pathToDropCart = path('client_shopping_dropcart') %}
        {% set pathToEditItem = 'client_shopping_edititem' %}
        {% set pathToRemoveItem = 'client_shopping_removeitem' %}
    {% endif %}
{% endif %}

{% set totalPrice = 0 %}

{% block title %} Ver items {% endblock %}

{% block body %}

<div class="container">
    <h1>Carrito de compras</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <a href="{{pathToShopping}}" class="btn btn-info">Seguir comprando</a>
    <a href="{{pathToDropCart}}" class="btn btn-danger">Vaciar carrito</a>
    <br>
    <div class="row">
        
        {% for key, productReq in cartProducts %}
            <div class="col-sm-10 col-xs-12">
                <div class="panel panel-success ">
                    <div class="panel-heading">
                        <p>
                            <h3 class="panel-title">Solicitud: {{ productReq.product.name}}</h3>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p>Descripción: <strong>{{ productReq.product.description }}</strong></p>
                        <p>Color: <strong>{{ productReq.colour }}</strong></p>
                        <p>Cantidad: <strong>{{ productReq.quantity }}</strong></p>
                        <p>Precio final: <strong>${{ productReq.cost }}</strong></p>
                    </div>
                    <div class="panel-footer">
                        <a type="button" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="bottom" title="Modificar" href="{{ path(pathToEditItem, {'itemId': key }) }}">
                            <i class="fa fa-fw fa-pencil"></i>
                        </a>
                        <a type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="bottom" title="Quitar del carrito" href="{{ path(pathToRemoveItem, {'itemId': key }) }}">
                            <i class="fa fa-fw fa-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% set totalPrice = totalPrice + productReq.cost %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="info">Costo total: ${{ totalPrice }}</div>
    </div>
</div>
        
{% endblock %}
