{% extends 'base.html.twig' %}

{% block title %} Nueva compra {% endblock %}

{% block body %}

<div class="container">
    {{ form_start(form)}}
    <div id="products">
    {% for product in form.productRequests %}
        <div class="row">
            <label>Tipo de teja:</label>{{ form_widget(product.type) }}
            <label>Cantidad:</label>{{ form_widget(product.quantity) }}
            <label>Costo:</label>{{ form_widget(product.cost) }}
            <label>Color:</label>{{ form_widget(product.colour) }}
        </div>
    {% endfor %}    
    </div>
    
    <br>
    <div class="row">
        <label>Precio final</label>{{ form_widget(form.finalCost)}}
    </div>
    <br>
    <div class="row">
        <button class="btn btn-success" id="addProduct">Agregar nuevo producto</button>
    </div>
    <br>
    <div class="row">
        {{ form_widget(form.save)}}
    </div>
    {{ form_end(form)}}
    
    
</div>
<div id="index" style="display:none"></div>

        
        <script src="{{ asset('js/jquery.colorPicker.js') }}" type="text/javascript"></script>
        <script>
            var index = 0;
            jQuery(document).ready(function($) {
                $('#product_request_colour').colorPicker();
                
                $('#addProduct').click(() => {
                    var divRow = document.createElement('div');
                    divRow.id = index++;
                    divRow.className = 'row';
                    
                    divRow.appendChild(createTypeElement(index));
                    divRow.appendChild(createQuantityElement(index));
                    divRow.appendChild(createCostElement(index));
                    divRow.appendChild(createColorElement(index));
                    $("#products").append(divRow);
                    
                })

                function createColorElement(index) {
                    var newInput = document.createElement('input');
                    newInput.setAttribute('required' , 'required');
                    newInput.id = 'requirement_productRequests_'+index+'_colour';
                    newInput.name = 'requirement[productRequests]['+index+'][colour]';

                    return newInput;
                }

                function createCostElement(index) {
                    var newInput = document.createElement('input');
                    newInput.setAttribute('required' , 'required');
                    newInput.setAttribute('readonly', 'readonly');
                    newInput.id = 'requirement_productRequests_'+index+'_cost';
                    newInput.name = 'requirement[productRequests]['+index+'][cost]';

                    return newInput;
                }

                function createQuantityElement(index) {
                    var newInput = document.createElement('input');
                    newInput.setAttribute('required' , 'required');
                    newInput.id = 'requirement_productRequests_'+index+'_quantity';
                    newInput.name = 'requirement[productRequests]['+index+'][quantity]';

                    return newInput;
                }

                function createTypeElement(index) {
                    var select = document.createElement('select');
                    select.name = "requirement[productRequests]["+ index +"][type]";
                    select.id = "requirement_productRequests_"+ index +"_type";

                    var modelSelect = document.getElementById("requirement_productRequests_0_type");
                    for(var i = 0; i < modelSelect.options.length; i++) {
                        var opt = document.createElement('option');
                        opt.text = modelSelect.options[i].text;
                        opt.value = modelSelect.options[i].value;
                        select.add(opt, select[i]);
                    }


                    return select;
                }

            });
        </script>

{% endblock %}
