{% extends 'base.html.twig' %}
{# /superadmin/product #}
{% block title %}Lista de productos{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Lista de productos</h1>

    <a class="btn btn-success" href="{{ path('superadmin_product_new') }}">Crear nuevo producto</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>IsColor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.isColor ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('superadmin_product_edit', {'id': product.id}) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ path('superadmin_product_delete', {'id': product.id}) }}">Elimina</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay registros aún!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}