{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Crear nuevo producto</h1>

    {{ form_start(form) }}
    <label>Nombre: </label>{{ form_widget(form.name) }}
    <label>Descripcion: </label>{{ form_widget(form.description) }}
    <label>Precio: </label>{{ form_widget(form.price) }}
    <label>¿Colores seleccionables?</label> {{ form_widget(form.isColor) }}
    <button class="btn">{{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('superadmin_product_index') }}">back to list</a>
{% endblock %}