{% extends 'base.html.twig' %}
{# /superadmin/product/new #}
{% block title %}Nuevo Producto{% endblock %}

{% block body %}
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Agregar producto
            </h1>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>Tablero</li>
            <li>Productos</li>
            <li class="active">Agregar</li>
    </ol>
    <div class="row">
    
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Nombre</label>
                <div class="col-xs-10 col-sm-7">
                    <div class="input-group">   
                        {{ form_widget(form.name) }}
                    </div>    
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Descripción</label>
                <div class="col-xs-10 col-sm-7">
                    <div class="input-group">
                        {{ form_widget(form.description) }}
                    </div>    
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Precio</label>
                <div class="col-xs-10 col-sm-7">
                    <div class="input-group">
                        {{ form_widget(form.price) }}
                    </div>    
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">¿Dispone de color?</label>
                <div class="col-xs-10 col-sm-7">
                    <div class="input-group">
                        {{ form_widget(form.isColor) }}
                    </div>    
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-sm-7">
                    <button type="button" class="btn btn-success"><i class="fa fa-fw fa-check"></i>{{ button_label|default('Guardar') }}</button>
                    <a href="{{ path('superadmin_product_index') }}"><button type="button" class="btn btn-danger"><i class="fa fa-fw fa-remove"></i></button></a>
                </div>
            </div>
        </form>
    </div>


    
    {{ form_start(form) }}
    <label>Nombre: </label>{{ form_widget(form.name) }}
    <label>Descripcion: </label>{{ form_widget(form.description) }}
    <label>Precio: </label>{{ form_widget(form.price) }}
    <label>¿Colores seleccionables?</label> {{ form_widget(form.isColor) }}
    <button class="btn">{{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}

   
{% endblock %}